<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-mvc-demo:Web exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_mvc_demo_Web_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring-mvc-demo/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-mvc-demo" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.2.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.2.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.2.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.2.7.RELEASE" />
          <element id="library" level="project" name="Maven: javax.servlet:javax.servlet-api:4.0.1" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.2.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.2.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.2.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jdbc:5.2.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-tx:5.2.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.2.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webflux:5.2.7.RELEASE" />
          <element id="library" level="project" name="Maven: io.projectreactor:reactor-core:3.3.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.reactivestreams:reactive-streams:1.0.3" />
        </element>
      </element>
    </root>
  </artifact>
</component>